body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/MaskGroup1_2x.png");
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    margin:0px;
    padding:0px;
    min-width: 100vw;
}

h1 {
    font-weight: 700;
}

hr {
    border: 0;
    border-bottom: 3px solid;
    border-radius: 10px;
    height: 0;
    margin: 5px;
    width: 100%;
}

.action-btn {
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 24px;
    padding: 2px;
    text-align: center;
    width: 100%;
}

.atomic-card {
    border-radius: 5px;
    box-shadow: 0 2px 7px #0000007C;
    overflow-wrap: break-word;
    padding: 2rem;
}

.atomic-logo {
    width: 160px;
    float: right;
    margin-right: 2rem;
}

.check-img {
    height: auto;
    width: 1.5rem;
}

.full-img {
    height: auto;
    width: 100%;
}

.inline {
    display: inline-block;
}

.b-text {
    font-size: 35px;
}

.m-text {
    font-size: 20px;
}

.justify-text{
    text-align: justify;
}

.left-text{
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.leight-weight {
    font-weight: 400;
}

.no-padding {
    padding: 0;
}

.normal-weight {
    font-weight: 600;
}

.primary-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.social-img {
    width: 20px;
}

.subtitle {
    font-size: 30px;
    font-weight: 700;
}

.title {
    font-size: 50px;
    font-weight: 700;
}

/*spacing/position*/
.m-v-space {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.s-v-space {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.left-card {
    height: 80%;
    position: relative;
    left: 1vw;
}
.right-card {
    height: 80%;
    position: relative;
    right: 1vw;
}

.top-card {
    position: relative;
    z-index: 30;
}

.v-center-content {
    display: flex;
    align-items: center;
}

/*Footer*/

.footer {
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 3vw;
    padding-bottom: 3vw;
    margin-top: auto;
}

/*BLUE DIV*/
.blue-div {
    background-color: #00609C;
    border-radius: 10%;
    height: 100vh;
    width: 100vw;
}

/*TABLE*/
.table-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
td, th {
    padding: 15px;
}
table td, table th {
    border: 1px solid #87878740;
}
table tr:first-child th {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}


/*COLORS*/
.white {
    color: #FFFFFF;
}

.orange {
    color: #FA4D09;
}

.dark-blue {
    color: #0A2240;
}

.blue {
    color: #00609C;
}

.white-bg {
    background-color: #FFFFFF;
}

.orange-bg {
    background-color: #FA4D09;
}